@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
    font-family: 'Montserrat';
    src: url('/fonts/Montserrat-Medium.woff2') format('woff2'),
    url('/fonts/Montserrat-Medium.woff') format('woff'),
    url('/fonts/Montserrat-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Montserrat';
    src: url('/fonts/Montserrat-Regular.woff2') format('woff2'),
    url('/fonts/Montserrat-Regular.woff') format('woff'),
    url('/fonts/Montserrat-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Montserrat';
    src: url('/fonts/Montserrat-SemiBold.woff2') format('woff2'),
    url('/fonts/Montserrat-SemiBold.woff') format('woff'),
    url('/fonts/Montserrat-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}
input:checked ~ .bg-checkbox {
    background-color: #E5005B;
}
input:checked ~ .dot {
    transform: translateX(100%);
    background-color: #fff;
}
input.checked-white:checked ~ .dot {
    transform: translateX(100%);
    background-color: #fff;
}
.info-menu.active {
   display: block;
}
.scroll-custom::-webkit-scrollbar-track {
    background-color: #F9F9F9;
    border-right: 20px;
}
.scroll-custom::-webkit-scrollbar {
    width: 8px;
    background-color: #F9F9F9;
}
.scroll-custom::-webkit-scrollbar-thumb {
    background-color: #4A2545;
    border-radius: 100vh;
}
.ck-editor__editable_inline {
    min-height: 118px;
}
.form-select {
    -moz-padding-start: calc(.75rem - 3px);
    background-image: url("../../public/images/arrow-down.svg");
    background-position: right 0.75rem center;
    background-size: 10px 8px;
    background-repeat: no-repeat;
}
.left-menu {
    position: relative;
}
.left-menu:before {
    content: "";
    position: absolute;
    left: -100%;
    top:0;
    bottom: 0;
    background: #fff;
    width: 100%;
}
.error {
    position: relative;
}
.error:before {
    content: "";
    position: absolute;
    background: url("../../public/images/error.svg");
    width: 18px;
    height: 17px;
    background-repeat: no-repeat;
    right: 15px;
    top: 21px;
}
.error-modal {
    display: none;
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s ease-in-out;
}
.error-modal.active {
    display: flex;
    opacity: 1;
    visibility: visible;
}
.close-svg path, .close-svg circle {
    transition: stroke 0.3s ease-in-out;
}
.close-svg:hover path, .close-svg:hover circle {
    stroke: #E5005B;
}
.content-avl-i:nth-child(1) .close-svg {
    display: none;
}
.item-day.active {
    background: rgba(229, 0, 91, 0.08);
    border: 1px solid #E5005B;
    position: relative;
}
.item-day.active::before {
    content: "";
    position: absolute;
    right: -5px;
    background: #E5005B;
    transform: matrix(-0.5, 0.91, -0.55, -0.71, 0, 0);
    width: 9px;
    height: 9px;
    top: 15px;
}
.item-day.active span {
    color: #E5005B;
}
.item-day.active svg path {
    stroke: #E5005B !important;
}
.item-content {
    display: none;
}
.swiper-who {
    width: calc(100% - 50px);
}
.swiper-slide {
    height: unset !important;
}
.swiper-who__pagination {
    position: absolute;
    bottom: -30px;
    display: flex;
    justify-content: center;
    width: 100%;
}
.swiper-who__pagination span {
    width: 8px;
    height: 8px;
    background: #E9E9E9;
    display: block;
    border-radius: 50%;
    margin: 0 4px;
}
.swiper-who__pagination span.swiper-pagination-bullet-active {
    background: #4A2545;
}
@media (max-width: 1024px) {
    .item-day:hover {
        background: unset !important;
    }
    .item-day.active::before {
        display: none;
    }
    .item-day.active .item-content {
        display: block;
    }
    .item-day.active {
        background: unset;
    }
    .item-day.active span {
        color: #1D1D1B;
    }
}
@media (max-width: 768px) {
    .open-bottom.active {
        top: 20%;
        bottom: unset;
    }
    .content-bottom {
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
        opacity: 0;
        visibility: hidden;
        background: #fff;
        z-index: 10;
        overflow: auto;
        width: 100%;
    }
    .content-bottom.active {
        top: calc(20% + 60px);
        opacity: 1;
        visibility: visible;
    }
}
@media (max-width: 640px) {
    .swiper-who {
        width: 100%;
    }
}
