@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
    font-family: 'Montserrat';
    src: url('/fonts/Montserrat-Medium.woff2') format('woff2'),
    url('/fonts/Montserrat-Medium.woff') format('woff'),
    url('/fonts/Montserrat-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Montserrat';
    src: url('/fonts/Montserrat-Regular.woff2') format('woff2'),
    url('/fonts/Montserrat-Regular.woff') format('woff'),
    url('/fonts/Montserrat-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Montserrat';
    src: url('/fonts/Montserrat-SemiBold.woff2') format('woff2'),
    url('/fonts/Montserrat-SemiBold.woff') format('woff'),
    url('/fonts/Montserrat-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}
input:checked ~ .bg-checkbox {
    background-color: #E5005B;
}
input:checked ~ .dot {
    transform: translateX(100%);
    background-color: #fff;
}
input.checked-white:checked ~ .dot {
    transform: translateX(100%);
    background-color: #fff;
}
.info-menu.active {
   display: block;
}
.scroll-custom::-webkit-scrollbar-track {
    background-color: #F9F9F9;
    border-right: 20px;
}
.scroll-custom::-webkit-scrollbar {
    width: 8px;
    background-color: #F9F9F9;
}
.scroll-custom::-webkit-scrollbar-thumb {
    background-color: #4A2545;
    border-radius: 100vh;
}
.ck-editor__editable_inline {
    min-height: 118px;
}
.form-select {
    -moz-padding-start: calc(.75rem - 3px);
    background-image: url("../../public/images/arrow-down.svg");
    background-position: right 0.75rem center;
    background-size: 10px 8px;
    background-repeat: no-repeat;
}
.left-menu {
    position: relative;
}
.left-menu:before {
    content: "";
    position: absolute;
    left: -100%;
    top:0;
    bottom: 0;
    background: #fff;
    width: 100%;
}
.error {
    position: relative;
}
.error:before {
    content: "";
    position: absolute;
    background: url("../../public/images/error.svg");
    width: 18px;
    height: 17px;
    background-repeat: no-repeat;
    right: 15px;
    top: 21px;
}
.error-modal {
    display: none;
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s ease-in-out;
}
.error-modal.active {
    display: flex;
    opacity: 1;
    visibility: visible;
}
.close-svg path, .close-svg circle {
    transition: stroke 0.3s ease-in-out;
}
.close-svg:hover path, .close-svg:hover circle {
    stroke: #E5005B;
}
.content-avl-i:nth-child(1) .close-svg {
    display: none;
}
.item-day.active {
    background: rgba(229, 0, 91, 0.08);
    border: 1px solid #E5005B;
    position: relative;
}
.item-day.active::before {
    content: "";
    position: absolute;
    right: -5px;
    background: #E5005B;
    transform: matrix(-0.5, 0.91, -0.55, -0.71, 0, 0);
    width: 9px;
    height: 9px;
    top: 15px;
}
.item-day.active span {
    color: #E5005B;
}
.item-day.active svg path {
    stroke: #E5005B !important;
}
.item-content {
    display: none;
}
.swiper-who {
    width: calc(100% - 50px);
}
.swiper-slide {
    height: unset !important;
}
.swiper-who__pagination {
    position: absolute;
    bottom: -30px;
    display: flex;
    justify-content: center;
    width: 100%;
}
.swiper-who__pagination span {
    width: 8px;
    height: 8px;
    background: #E9E9E9;
    display: block;
    border-radius: 50%;
    margin: 0 4px;
}
.swiper-who__pagination span.swiper-pagination-bullet-active {
    background: #4A2545;
}

.step-round {
    width: 14px;
    height: 14px;
    background: #E5005B;
    border-radius: 50%;
    position: absolute;
    bottom: 110px;
    left: 108px;
    overflow: hidden;
    -webkit-animation: circle 20s linear infinite;
    animation: circle 20s linear infinite;
}
@keyframes circle{
    0%{
        transform:rotate(-130deg)
        translate(-115px)
        rotate(0deg);
    }
    50%{
        transform:rotate(90deg)
        translate(-115px)
        rotate(-90deg);
    }
   100%{
        transform:rotate(-130deg)
        translate(-115px)
        rotate(0deg);
    }
}
.step-item {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-left: 40px;
    opacity: 0;
    transition: opacity 1s ease-in-out;
}
.step-item.active {
    opacity: 1;
}
.step-one__title {
    font-weight: 500;
    font-size: 24px;
    color: #fff;
    transform: scale(0);
    transition: transform 2s ease-in-out;
}
.step-one__avatar {
    display: flex;
    justify-content: center;
    margin-top: 30px;
    transform: scale(0);
    transition-delay: 1s;
    transition-property: transform;
    transition-duration: 2s;
    transition-timing-function: ease-in-out;
}
.step-one.active .step-one__title {
    transform: scale(1);
}
.step-one.active .step-one__avatar {
    transform: scale(1);
}

.step-two {
    bottom: -13px;
}
.step-two__title {
    font-weight: 500;
    font-size: 24px;
    color: #FFFFFF;
    position: relative;
    top: 60px;
    transform: scale(0);
    transition: transform 2s ease-in-out;
}
.step-two.active .step-two__title {
    transform: scale(1);
}
.step-two__facebook {
    position: absolute;
    opacity: 0;
    z-index: 1;
    transition-delay: 1s;
    transition-property: transform, opacity;
    transition-duration: 2s;
    transition-timing-function: ease-in-out;
}
.step-two__wats {
    position: absolute;
    opacity: 0;
    transition-delay: 1s;
    transition-property: transform, opacity;
    transition-duration: 2s;
    transition-timing-function: ease-in-out;
}
.step-two__inst {
    position: absolute;
    opacity: 0;
    transition-delay: 1s;
    transition-property: transform, opacity;
    transition-duration: 2s;
    transition-timing-function: ease-in-out;
}
.step-two__twit {
    position: absolute;
    opacity: 0;
    transition-delay: 1s;
    transition-property: transform, opacity;
    transition-duration: 2s;
    transition-timing-function: ease-in-out;
}
.step-two.active .step-two__facebook {
    opacity: 1;
    transform: translate3d(-190px, -45px, 10px);
}
.step-two.active .step-two__wats {
    opacity: 1;
    transform: translate3d(-210px, 85px, 10px);
}
.step-two.active .step-two__inst {
    opacity: 1;
    transform: translate3d(125px, -130px, 10px);
}
.step-two.active .step-two__twit {
    opacity: 1;
    transform: translate3d(190px, 100px, 10px);
}


.step-three__title {
    font-weight: 500;
    font-size: 24px;
    color: #FFFFFF;
    transform: scale(0);
    transition: transform 2s ease-in-out;
}
.step-three__avatar {
    margin-top: 30px;
    transform: scale(0);
    transition-delay: 1s;
    transition-property: transform;
    transition-duration: 2s;
    transition-timing-function: ease-in-out;
}
.step-three__avatar-one {
    position: absolute;
    left: 65px;
    top: 115px;
    z-index: 1;
    transform: scale(0);
    transition-delay: 2s;
    transition-property: transform;
    transition-duration: 2s;
    transition-timing-function: ease-in-out;
}
.step-three__message-one {
    position: absolute;
    font-weight: 500;
    font-size: 12px;
    color: #4A2545;
    background: #FFFFFF;
    border-width: 1px 1px 3px 1px;
    border-style: solid;
    border-color: #4A2545;
    box-shadow: 0 0 20px rgb(0 0 0 / 10%);
    border-radius: 0 8px 8px 8px;
    left: 165px;
    top: 180px;
    z-index: 2;
    padding: 4px 12px;
    transform: scale(0);
    transition-delay: 3s;
    transition-property: transform;
    transition-duration: 2s;
    transition-timing-function: ease-in-out;
}
.step-three__avatar-two {
    position: absolute;
    right: 30px;
    bottom: 90px;
    transform: scale(0);
    transition-delay: 2.5s;
    transition-property: transform;
    transition-duration: 2s;
    transition-timing-function: ease-in-out;
}
.step-three__message-two {
    position: absolute;
    font-weight: 500;
    font-size: 12px;
    color: #4A2545;
    background: #FFFFFF;
    border-width: 1px 1px 3px 1px;
    border-style: solid;
    border-color: #4A2545;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    border-radius: 8px 0 8px 8px;
    width: 200px;
    padding: 4px 12px;
    right: 115px;
    bottom: 75px;
    transform: scale(0);
    transition-delay: 3.8s;
    transition-property: transform;
    transition-duration: 2s;
    transition-timing-function: ease-in-out;
}
.step-three__icon-one {
    opacity: 0;
    position: absolute;
    transition-delay: 2s;
    transition-property: transform, opacity;
    transition-duration: 2s;
    transition-timing-function: ease-in-out;
}
.step-three__icon-two {
    opacity: 0;
    position: absolute;
    transition-delay: 2.2s;
    transition-property: transform, opacity;
    transition-duration: 2.5s;
    transition-timing-function: ease-in-out;
}
.step-three__icon-three {
    opacity: 0;
    position: absolute;
    transition-delay: 2.5s;
    transition-property: transform, opacity;
    transition-duration: 2.7s;
    transition-timing-function: ease-in-out;
}
.step-three__time {
    position: absolute;
    font-weight: 600;
    font-size: 16px;
    color: #4A2545;
    left: 40px;
    bottom: 85px;
}
.step-three.active .step-three__title,
.step-three.active .step-three__avatar,
.step-three.active .step-three__avatar-one,
.step-three.active .step-three__avatar-two,
.step-three.active .step-three__message-one,
.step-three.active .step-three__message-two {
    transform: scale(1);
}
.step-three.active .step-three__icon-one {
    opacity: 1;
    transform: translate3d(-30px, -110px, 10px);
}
.step-three.active .step-three__icon-two {
    opacity: 1;
    transform: translate3d(230px, -50px, 10px);
}
.step-three.active .step-three__icon-three {
    opacity: 1;
    transform: translate3d(-130px, 80px, 10px);
}


.step-four__title {
    font-weight: 500;
    font-size: 24px;
    color: #fff;
    transform: scale(0);
    transition: transform 2s ease-in-out;
}
.step-four__avatar {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    width: 390px;
    position: relative;
    left: -2px;
    margin-bottom: -58px;
}
.step-four__money-one {
    position: absolute;
    left: 75px;
    bottom: 100px;
    opacity: 0;
    transition-delay: 2s;
    transition-property: transform, opacity;
    transition-duration: 1s;
    transition-timing-function: ease-in-out;
    animation: 8s ease-in 1s infinite reverse both running wakeUpSm2;
}
.step-four__money-two {
    position: absolute;
    right: 50px;
    top: 100px;
    opacity: 0;
    transition-delay: 1s;
    transition-property: transform, opacity;
    transition-duration: 1s;
    transition-timing-function: ease-in-out;
    animation: 14s ease-in 1s infinite reverse both running wakeUpSm2;
}
.step-four__money-three {
    position: absolute;
    right: 55px;
    bottom: 45px;
    opacity: 0;
    transition-delay: 1s;
    transition-property: transform, opacity;
    transition-duration: 1s;
    transition-timing-function: ease-in-out;
}
.step-four.active .step-four__title {
    transform: scale(1);
}
.step-four.active .step-four__money-one,
.step-four.active .step-four__money-two,
.step-four.active .step-four__money-three{
    opacity: 1;
}
@keyframes wakeUpSm2 {
    0% {
        transform: translateY(25px)
    }
    50% {
        transform: translateY(-5px)
    }
    100% {
        transform: translateY(25px)
    }
}

@media (max-width: 1024px) {
    .item-day:hover {
        background: unset !important;
    }
    .item-day.active::before {
        display: none;
    }
    .item-day.active .item-content {
        display: block;
    }
    .item-day.active {
        background: unset;
    }
    .item-day.active span {
        color: #1D1D1B;
    }
}
@media (max-width: 768px) {
    .open-bottom.active {
        top: 20%;
        bottom: unset;
    }
    .content-bottom {
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
        opacity: 0;
        visibility: hidden;
        background: #fff;
        z-index: 10;
        overflow: auto;
        width: 100%;
    }
    .content-bottom.active {
        top: calc(20% + 60px);
        opacity: 1;
        visibility: visible;
    }

}
@media (max-width: 640px) {
    .swiper-who {
        width: 100%;
    }
    .step-content {
        width: 320px;
        margin: auto;
    }
    .step-item {
        padding-left: 20px;
    }
    .step-round {
        width: 9px;
        height: 9px;
        bottom: 58px;
        left: 62px;
    }
    @keyframes circle{
        0%{
            transform:rotate(-130deg)
            translate(-65px)
            rotate(0deg);
        }
        50%{
            transform:rotate(90deg)
            translate(-65px)
            rotate(-90deg);
        }
        100%{
            transform:rotate(-130deg)
            translate(-65px)
            rotate(0deg);
        }
    }
    .step-one__avatar {
        margin-top: 10px;
    }
    .step-one__avatar img {
        width: 50px;
        height: 50px;
    }
    .step-one__title {
        font-size: 14px;
    }
    .step-two__title {
        font-size: 14px;
        top: 20px;
    }
    .step-two__avatar img {
        width: 180px;
    }
    .step-two__facebook svg,
    .step-two__wats svg,
    .step-two__inst svg,
    .step-two__twit svg {
        width: 36px;
    }
    .step-two.active .step-two__facebook {
        transform: translate3d(-110px, -45px, 10px);
    }
    .step-two.active .step-two__inst {
        transform: translate3d(115px, -65px, 10px);
    }
    .step-two.active .step-two__twit {
        transform: translate3d(105px, 42px, 10px);
    }
    .step-two.active .step-two__wats {
        transform: translate3d(-110px, 30px, 10px);
    }
    .step-three__title {
        font-size: 14px;
    }
    .step-three__avatar {
        margin-top: 10px;
    }
    .step-three__avatar img {
        width: 62px;
    }
    .step-three__avatar-one {
        left: 40px;
        top: 55px;
    }
    .step-three__avatar-two {
        right: 15px;
        bottom: 55px;
    }
    .step-three__avatar-one img,
    .step-three__avatar-two img{
        width: 51px;
        height: 51px;
    }
    .step-three__message-one,
    .step-three__message-two {
        font-size: 10px;
        padding: 3px 8px;
        line-height: 1.4;
    }
    .step-three__message-one {
        left: 85px;
        top: 88px;
    }
    .step-three__message-two {
        width: 165px;
        right: 63px;
        bottom: 42px;
    }
    .step-three__icon-one svg,
    .step-three__icon-two svg,
    .step-three__icon-three svg {
        width: 24px;
    }
    .step-three__time {
        font-size: 10px;
        left: 11px;
        bottom: 55px;
    }
    .step-three.active .step-three__icon-one {
        transform: translate3d(-30px, -64px, 10px);
    }
    .step-three.active .step-three__icon-two {
        transform: translate3d(130px, -50px, 10px);
    }
    .step-three.active .step-three__icon-three {
        transform: translate3d(-110px, 55px, 10px);
    }
    .step-four__title {
        font-size: 14px;
    }
    .step-four__money-three img {
        width: 30px;
    }
    .step-four__money-two {
        right: 35px;
        top: 20px;
    }
    .step-four__money-one {
        left: 46px;
        z-index: 1;
    }
    .step-four__money-two svg,
    .step-four__money-one svg{
        width: 30px;
    }
    .step-four__money-three {
        right: 35px;
        bottom: 25px;
    }
    .step-four__avatar {
        width: 218px;
        height: 84px;
        margin-bottom: -20px;
        left: 0;
    }
    .step-four__avatar img {
        width: 100%;
        object-fit: cover;
        object-position: top;
    }
}
@media (max-width: 335px) {
    .step-three__message-two {
        width: 150px;
        right: 63px;
        bottom: 35px;
    }
    .step-three__message-one, .step-three__message-two {
        font-size: 8px;
    }
}
